:root {
    --font-title: "Cinzel", Georgia, serif;
    --font-main: "DM Serif Display", Georgia, serif;
    --font-text: "Averia Libre", Garamond, serif;
}

body {
    background-position: center;
    background-repeat: repeat;
}

/* NAV */

#header-nav {
    display: flex;
    justify-content: space-between;
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    background-color: #36210a;
    border-color: #382714;
    border-style: groove;
    border-width: 5px;
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    font-size: 20px;
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo img {
    border-radius: 50%;
    object-fit: cover;
    padding: 5px 10px;
    transition: transform 0.5s ease, opacity 0.4s ease;
    opacity: 1;
}

.logo img:hover {
    transform: scale(1.2) rotate(180deg);
    opacity: 0.8;
}

.header-links-small {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

#dropdown {
    background-color: transparent;
    border: none;
    font-family: var(--font-main);
    font-size: 20px;
}

.houses-dropdown {
    position: relative;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    background-color: #36210a;
    border-color: #382714;
    border-width: 1px;
    border-style: solid;
    z-index: 1;
    width: max-content;
}

.dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    color: #ffcc99;
}

.dropdown-link:hover {
    animation: pulse 1.5s ease infinite;
}

.header-links-large {
    display: none;
}

.header-link {
    padding: 10px;
    text-decoration: none;
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    color: #ffcc99;
}

.header-link:visited {
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    color: #ffcc99;
}

.header-link:hover {
    animation: pulse 1.5s ease infinite;
}

/* END OF NAV */

#home-page {
    background-image: url("/images/background.webp");
}

.title {
    /* background-color: black; */
    background-position:top center;
    background-size: cover;
    /* color: white; */
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    text-align: center;
    font-family: var(--font-title);
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px #d3a625;
    /* color: #ae0001; */
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    margin: 20px;
    box-shadow: 4px 4px 15px black;
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    background-color: #36210a; 
    border: groove 4px black;
}

.card-link {
    text-decoration: none;
}

.card-header {
    font-family: var(--font-main);
    color:  white;
    margin-bottom: 0;
}

.card-image {
    margin: 20px;
    width: 150px;
    height: auto;
    border-style: double;
    border-width: 4px;
    border-color: white;
}

/* CHARACTER AND MOVIE PAGES */

.detail-card {
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    border-style: groove;
    border-width: 5px;
    box-shadow: 4px 4px 15px black;
    box-sizing: border-box;
    /* colors are set to movie default 
    they will change dynamically for other pages using js*/
    border-color: #D3A625;
    background-color: #740001;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-family: var(--font-text);
    font-size: 22px;
    color: #f2e1a9;
    max-width: 100%;
}

.detail-title {
    text-align: center;
    font-family: var(--font-title);
    margin: 0;
    padding-bottom: 10px;
    color: #f2e1a9;
}

.detail-img {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    border-color: #D3A625;
    border-style: solid;
    border-width: 4px;
    box-sizing: border-box;
    display: block;
}

.tagline {
    font-style: italic;
    margin: 0 0 20px 0;
    color: #D3A625;
    text-align: center;
}

.homepage-link {
    color: #D3A625;
    /* text-decoration: none; */
}

.homepage-link {
    color: #D3A625;
}

footer {
    padding: 15px;
    font-family: var(--font-main);
    font-size: 20px;
    text-align: center;
    border-style: groove;
    border-width: 5px;
    /* colors are set to home page as default
    they will dynamically change in js for other pages*/
    background-color: #36210a;
    border-color: #382714;
    color: #ffcc99;
    
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    .header-links-large {
        display: flex;   
        justify-content: space-around;
        flex-grow: 1;
    }

    .header-links-small {
        display: none;
    }

    .title {
        font-size: 48px;
    }

    .detail-card {
        padding: 40px;
    }

    .detail-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        font-size: 18px;
    }
}