<nav id="header-nav">
  <a class="logo" href="/index.html">
    <img src="/images/favicon.webp" width="40" height="40" alt="shield-like circle carved out of wood">
  </a>

  <div class="header-links-large">
    <a class="header-link" href="/house/index.html?house=gryffindor">Gryffindor</a>
    <a class="header-link" href="/house/index.html?house=ravenclaw">Ravenclaw</a>
    <a class="header-link" href="/house/index.html?house=hufflepuff">Hufflepuff</a>
    <a class="header-link" href="/house/index.html?house=slytherin">Slytherin</a>
    <a class="header-link" href="/favorites/index.html">Favorites</a>
    <a class="header-link" href="/movies/index.html">Movies</a>
  </div>

  <div class="header-links-small">
    <div class="houses-dropdown">
      <button id="dropdown" class="header-link">Houses</button>
      <div class="dropdown-content">
        <a class="dropdown-link" href="/house/index.html?house=gryffindor">Gryffindor</a>
        <a class="dropdown-link" href="/house/index.html?house=ravenclaw">Ravenclaw</a>
        <a class="dropdown-link" href="/house/index.html?house=hufflepuff">Hufflepuff</a>
        <a class="dropdown-link" href="/house/index.html?house=slytherin">Slytherin</a>
      </div>
    </div>
    <a class="header-link" href="/favorites/index.html">Favorites</a>
    <a class="header-link" href="/movies/index.html">Movies</a>
  </div>
</nav>



