<nav id="header-nav">
  <!-- <ul>
    <li><a href="/house/index.html?house=gryffindor">Gryffindor</a></li>
    <li><a href="/house/index.html?house=ravenclaw">Ravenclaw</a></li>
    <li><a href="/house/index.html?house=hufflepuff">Hufflepuff</a></li>
    <li><a href="/house/index.html?house=slytherin">Slytherin</a></li>
    <li><a href="/house/index.html/movies/index.html">Movies</a></li>
  </ul> -->
  <a class="logo" href="/index.html">
    <img src="/images/favicon.webp" width="40" height="40" alt="shield-like circle carved out of wood">
  </a>
  <div class="header-link-container">
    <a class="header-link" href="/house/index.html?house=gryffindor">Gryffindor</a>
    <a class="header-link" href="/house/index.html?house=ravenclaw">Ravenclaw</a>
    <a class="header-link" href="/house/index.html?house=hufflepuff">Hufflepuff</a>
    <a class="header-link" href="/house/index.html?house=slytherin">Slytherin</a>
    <a class="header-link" href="/house/index.html/movies/index.html">Movies</a>
  </div>
</nav>

